<html>
    <head>
        <link rel="stylesheet" href="ex1.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <meta charset="UTF-8">
        <title>Test Vue.js</title>
    </head>
    <body>
        
        <!--<div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        </div>

        <div id="app-7">
            <ol>
                <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
                ></todo-item>
            </ol>
            <blog-post
              v-for="post in posts"
              v-bind:key="post.id"
              v-bind:post="post"
            ></blog-post>
        </div>-->

        <h1>Faisons semblant de faire un vrai site</h1>

        <h2>Liste d'articles nul de faits nul en tout genre :</h2>

        <div id="app">
            <component-a></component-a>
        </div>
                
        <script src="ex2.js"></script>
    </body>
</html>